* {
    font-family: 'Courier New';
    color:rgb(107, 221, 208);
    background-color: rgb(69, 54, 94); 
}

h1 {
    text-decoration: underline;
    color: rgb(247, 122, 191)
}
 a {
     color: rgb(255, 234, 167);
 }